body{
    background:url(bg.jpg) repeat;
    background-size: cover;

}
.middle-load{
    width:200px;
    height:200px;
    margin-left:-100px;
    margin-top:-100px;
}
.font
{
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}

.back
{
    -webkit-transform: rotateX(180deg) translateZ(100px);
    transform: rotateX(180deg) translateZ(100px);
}

.left
{
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}

.right
{
    -webkit-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}

.top
{
    -webkit-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}

.bottom
{
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}
.up {
    transform: rotateZ(-25deg) translateY(-73%);
}
.down {
    transform: rotateZ(-25deg) translateY(73%);
}
@media screen and (max-width:860px) {
    .up {
        transform: rotateZ(-50deg) translateY(-83%);
    }

    .down {
        transform: rotateZ(-50deg) translateY(83%);
    }
}
.page article{
    display:inline-block;
    margin:10px auto;
}
.page article{
        width:600px;
        position:relative;
}




.memu_left{
    position:fixed;
    top:40%;
    left:0px;
    z-index: 10;
}
.memu_left ul{
    list-style: none;
    text-align: center;
}

.memu_left ul li:first-child{
    background-color: darkblue;
}
.memu_left ul li:nth-child(2){
    background-color: yellow;
}
.memu_left ul li:nth-child(3){
    background-color:lawngreen;
}
.memu_left ul li:nth-child(4){
    background-color:blueviolet;
}
.memu_left ul li:nth-child(5){
    background-color:brown;
}
.memu_left ul li{
    width:160px;
    height:36px;
    line-height:36px;
    font-weight: bold;
    font-size: 24px;
    transition:all 0.3s ease-out;
    transform:translateX(-130px);
}
.memu_left ul li span{
    position: fixed;
    right:10px;
    text-shadow: 0 1px 1px #333;
    transition:all 0.8s ease-in-out;
    z-index:-1;
}
.memu_left ul li:hover {
    transform:translateX(0) !important;
    opacity:1;
}
.memu_left ul li:hover >span{
    transform:translateX(-80px);
    opacity: 0;
}
.memu_left ul li:hover >a{
    opacity: 1;
    margin-right: 0;
}
.memu_left ul li a{
    display:inline-block;
    color:#999;
    text-decoration:none;
    margin-right:28px;
    opacity: 0;
    width:132px;
}
.memu_left ul li a p{
    display: inline;
    color:#0094ff;
    font-size: 28px;
    font-weight:bolder;
    text-shadow: 1px 1px 1px #fff;
}
.activeli{
    transform:translateX(-120px) !important;
    -webkit-transform:translateX(-120px) !important;
}
#skill article ul li{
     margin:5px 0;
     font-size: larger;
     color:#ddd;
     clear:both;
     text-align: left;
     padding-left:40px;
     padding-top:5px;
     height:22px;
     line-height: 22px;
     vertical-align: middle;
 }
#skill article ul.skillDeg{
    float:right;
    margin-right:50px;
    margin-left:80px;
}
#skill article ul.skillDeg li{
    clear:both;
    list-style: none;
    display: inline-block;
    color:#000 !important;
    font-weight: bolder;
    font-size:90%;
    text-shadow: 0px 3px 1px #ddd;
}
.scroll_bar{
    border:3px solid #ddd;
    border-radius: 10px;
    width:420px;
    display: inline-block;
    height:20px;
    line-height: 20px;
    float:right;
    margin-right:30px;
}
.scroll_bar i{
    display:inline-block;
    height:20px;
    border-radius: 7px;
}
#connection article {
    min-height: 400px;

}
.learn_book ul li {
    padding: 5px;
    width:50%;
    box-sizing:border-box;
    clear:both;
}
.learn_book ul li:first-child{
    text-align: center;
    border-left:10px solid #a42a2a;
    float:right;
    transform:translate3d(-10px,0,0);
}
.learn_book ul li:first-child:before{
    display:block;
    content:'';
    width:30px;
    height:30px;
    background-color: #a42a2a;
    border-radius:100%;
    transform:translate3d(-25px,-10px,0);
}
.learn_book ul li:nth-child(2){
    text-align: center;
    border-right:10px solid #a42a2a;
    float:left;
}
.learn_book ul li:nth-child(2):after{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(260px,-15px,0);
}
.learn_book ul li:nth-child(3){
    text-align: center;
    border-left:10px solid #a42a2a;
    float:right;
    transform:translate3d(-10px,0,0);
}
.learn_book ul li:nth-child(3):before{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(-10px,15px,0);
}
.learn_book ul li:nth-child(4){
    text-align: center;
    border-right:10px solid #a42a2a;
    float:left;
}
.learn_book ul li:nth-child(4):after{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(260px,-15px,0);
}
.learn_book ul li:nth-child(5){
    text-align: center;
    border-left:10px solid #a42a2a;
    float:right;
    transform:translate3d(-10px,0,0);
}
.learn_book ul li:nth-child(5):before{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(-10px,15px,0);
}
.learn_book ul li:nth-child(6){
    text-align: center;
    border-right:10px solid #a42a2a;
    float:left;
}
.learn_book ul li:nth-child(6):after{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(260px,-15px,0);
}
.learn_book ul li:nth-child(7){
    text-align: center;
    border-right:10px dotted #a42a2a;
    float:left;
    height:40px;
}
.learn_book ul li:nth-child(7):after{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(260px,-15px,0);
}
.learn_book ul li:last-child{
    text-align: center;
    margin-top:10px;
    border-right:10px dotted #a42a2a;
    float:left;
    height:40px;
}
.personal_intro  p{
    margin-left:260px;
}
#message article{
    width:80%;
    height:70%;
    background-color: #000;
    opacity: 0.8;
    position:relative;
    overflow:hidden;
    -webkit-perspective: 800px;
}

