html,body{
    overflow-y:auto;
}
body{
    background:url(bg.jpg);
    overflow-x: hidden;
    font-size:1rem;
}
.middle-load{
    width:100px;
    height:100px;
    margin-left:-50px;
    margin-top: -50px;
}
.font
{
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.back
{
    -webkit-transform: rotateX(180deg) translateZ(50px);
    transform: rotateX(180deg) translateZ(50px);
}

.left
{
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
}

.right
{
    -webkit-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
}

.top
{
    -webkit-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
}

.bottom
{
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    transform: rotateX(-90deg) translateZ(50px);
}
.up {
    transform: rotateZ(30deg) translateX(-83%);
    -webkit-transform: rotateZ(30deg) translateX(-83%);
}

.down {
    transform: rotateZ(30deg) translateX(83%);
    -webkit-transform: rotateZ(30deg) translateX(83%);
}
.memu_left{
    position:fixed;
    bottom:0;
    left:0px;
    right:0px;
    z-index: 10;
}
.memu_left ul{
    list-style: none;
    text-align: center;

}

.memu_left ul li:first-child{
    background-color: darkblue;
}
.memu_left ul li:nth-child(2){
    background-color: yellow;
}
.memu_left ul li:nth-child(3){
    background-color:lawngreen;
}
.memu_left ul li:nth-child(4){
    background-color:blueviolet;
}
.memu_left ul li:nth-child(5){
    background-color:brown;
}
.memu_left ul li{
    display: inline-block;
    width: 20%;
    height: 45px;
    border-radius: 10px;
    float: left;
    /* line-height: 28px; */
    font-weight: bold;
    box-shadow: 0px -3px 3px #333;
    border: 1px solid #fff;
    /* border-bottom: 3px solid #ddd; */
    box-sizing: border-box;
    /* font-size: 0.1rem; */
    opacity:.6;
}
.memu_left ul li a{
    text-decoration: none;
}
.memu_left ul li a p{
    text-shadow: 1px 1px 1px #333;
    color: #999;
}
.memu_left ul li.activeli{
    opacity:1;
    color:#999 !important;
}

.page article{
    width:100%;
}
#skill article ul li{
    margin:3px 0;
    font-size:0.6rem;
    color:#ddd;
    clear:both;
    text-align: left;
    padding-left:10px;
    padding-top:2px;
    text-shadow: 1px 3px 1px #333;
}
#skill article ul.skillDeg{
    float:right;
    margin-right:20px;
    margin-left:50px;
}
#skill article ul.skillDeg.skillDeg li{
    clear:both;
    list-style: none;
    display: inline-block;
    color:#000 !important;
    font-weight: bolder;
    font-size:0.8rem;
    text-shadow: 0px 3px 1px #ddd;
}
.scroll_bar{
    border:3px solid #ddd;
    border-radius: 10px;
    width:60%;
    display: inline-block;
    height:10px;
    line-height: 10px;
    float:right;
    margin-right:30px;
}
.scroll_bar i{
    display:inline-block;
    height:10px;
    border-radius: 7px;
}

#connection article {
    min-height: 340px;
    overflow: auto;
    position:relative;
}
.con_center div.con_content{
    font-size:0.4rem;
}
.con_center div.con_content a{
    font-size:0.4rem;
}

.learn_book ul li {
    padding: 5px;
    box-sizing:border-box;
    font-size:1.3rem;
    border-left:10px solid #a42a2a;
    height:35px;
    width:80%;
    transform:translate3d(40px,10px,0);
    -webkit-transform:translate3d(40px,10px,0);
}
.learn_book ul li:before{
    display:block;
    content:'';
    width:30px;
    height:10px;
    background-color: #a42a2a;
    transform:translate3d(-10px,15px,0);
    -webkit-transform:translate3d(-10px,15px,0);
}

.learn_book ul li:first-child{
    border-left:10px solid #a42a2a;
}
.learn_book ul li:first-child:before{
    display:block;
    content:'';
    width:30px;
    height:30px;
    background-color: #a42a2a;
    border-radius:100%;
    transform:translate3d(-25px,-10px,0);
    -webkit-transform:translate3d(-25px,-10px,0);
}
.learn_book ul li:last-child{
    border-left:10px solid #a42a2a;
}
.learn_book ul li:last-child:before{
    display:block;
    content:'';
    width:30px;
    height:30px;
    background-color: #a42a2a;
    border-radius:100%;
    transform:translate3d(-25px,10px,0);
    -webkit-transform:translate3d(-25px,10px,0);
}

#message article{
    width:100%;
    height:70%;
    background-color: #000;
    opacity: 0.8;
    position:relative;
    overflow:hidden;
    -webkit-perspective: 800px;
    z-index:10;
}
.photo_ul{
    list-style: none;
    width:100%;
    overflow:auto;
}
.photo_ul li{
    width:32%;
    display: inline-block;
}
.screen_full{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #000;
    z-index:1;
}
.screen_full figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: #333;
    opacity: .8;
}
.screen_full figcaption a{
    text-decoration: none;
}
